{% extends 'Clientes/base.html' %}

{% block contenido %}

<center>
    <h1> Lista de Profesores</h1>
 </center>
        <table border="1">
            <thead>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                

            </thead>
            <tbody>
                {% for profesor in profesores  %}  
                <tr>
                        
                      <td>  {{ profesor.nombre }}</td> 
                      <td> {{ profesor.apellido }} </td> 
                       <td> {{ profesor.email }}</td> 

                         <td>    <button>  
                                <a href="{% url 'EliminarProfesor' profesor.nombre %}">Eliminar</a>
                            </button></td> 
                         
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    <button><a href="{% url 'index' %}">Atras</a></button>
{% endblock contenido %}

