{% extends 'Clientes/base.html' %}


{% block contenido %}

<center>
    <h1> Lista de Profesores</h1>
 </center>
    {% for profesor in profesores  %}  
       <ul>
            <li>

                {{ profesor.nombre }}

                {{ profesor.apellido }}
                
                {{ profesor.email }}

                <button>  
                    <a href="{% url 'EliminarProfesor' profesor.nombre %}">Eliminar</a>

                    
                </button>

            </li>
            
       </ul> 
       
    {% endfor %}

    <button><a href="{% url 'index' %}">Atras</a></button>
{% endblock contenido %}

